Repository americanexpress/one-app, pull requests merged in 2020-08, with the labels that each got.

#250 release process improvements
  .github/pr_labeler.yml
  .github/workflows/docker_development_image.yml
  .github/workflows/docker_production_image.yml
  .github/workflows/docker_release.yml
  .github/workflows/docker_tag_check.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/publish_statics_npm.yml
  .github/workflows/tagging.yml
Labels: chore

#283 fix(pwa): reset config when not supplied
  src/server/middleware/pwa/config.js
Labels: fix

#284 fix(pollModuleMap): ensure single pollModuleMap
  __performance__/README.md
  __performance__/grafana/dashboards/one-app-classic.json
  __performance__/grafana/dashboards/one-app-performance.json
  __tests__/integration/__snapshots__/one-app.spec.js.snap
  __tests__/server/metrics/__snapshots__/holocron.spec.js.snap
  package.json
  prod-sample/README.md
  prod-sample/docker-compose.debug.yml
  prod-sample/docker-compose.override.yml
  prod-sample/docker-compose.yml
  prod-sample/one-app/debug.env
  src/server/metrics/holocron.js
  src/server/middleware/sendHtml.js
  src/server/utils/pollModuleMap.js
Labels: fix

#285 fix(watchLocalModules): wait for change to finish
  __tests__/server/utils/watchLocalModules.spec.js
  src/server/utils/watchLocalModules.js
Labels: fix

#288 docs(links): hide return to links
  docs/api/README.md
  docs/api/modules/App-Configuration.md
  docs/api/modules/Internationalization.md
  docs/api/modules/Loading-Data.md
  docs/api/modules/Loading-Modules.md
  docs/api/modules/Routing.md
  docs/api/modules/State-Management.md
  docs/recipes/Adding-Styles.md
  docs/recipes/Code-Splitting-Using-Holocron.md
  docs/recipes/Deploying-Modules.md
  docs/recipes/Enabling-Serverside-Rendering.md
  docs/recipes/Internationalizing-Your-Module.md
  docs/recipes/Making-An-Api-Call.md
  docs/recipes/Mocking-Api-Calls.md
  docs/recipes/Monitoring-One-App.md
  docs/recipes/Partial-Rendering.md
  docs/recipes/README.md
  docs/recipes/Routing-And-Navigation.md
  docs/recipes/Running-Existing-App-Locally.md
  docs/recipes/Running-In-Production.md
Labels: documentation

#289 fix(fetch): upgrade bundler to add fetch polyfills
  package-lock.json
  package.json
Labels: fix
