Repository americanexpress/one-app, pull requests merged in 2020-12, with the labels that each got.

#382 fix(clientErrorLogger): format console error message
  __tests__/server/middleware/clientErrorLogger.spec.js
  package-lock.json
  package.json
  src/server/middleware/clientErrorLogger.js
Labels: fix

#389 docs(ssr): add missing word
  docs/recipes/Enabling-Serverside-Rendering.md
Labels: documentation

#390 fix(tagging/workflow): use ::set-output over ::set-env
  .github/workflows/tagging.yml
Labels: fix

#387 docs(recipes/making-an-api-call): update
  docs/recipes/Making-An-Api-Call.md
  docs/recipes/Module-Composition.md
  docs/recipes/Post-To-Modules.md
  docs/recipes/README.md
Labels: documentation

#393 docs(overview): fix image links
  docs/overview/README.md
Labels: documentation

#392 chore(codeowners): updated codeowners to one-app-team
  CODEOWNERS
Labels: chore

#397 feat(createCircuitBreaker): increase healthcheck interval to 5s
  __tests__/server/utils/createCircuitBreaker.spec.js
  src/server/utils/createCircuitBreaker.js
Labels: feature
