Repository americanexpress/one-app, pull requests merged in 2020-10, with the labels that each got.

#331 feat(csp): loosen development to use localhost or ip '*'
  __tests__/server/middleware/__snapshots__/csp.spec.js.snap
  src/server/middleware/csp.js
Labels: feature

#325 fix(tests/integration): offline cache timing
  __tests__/integration/one-app.spec.js
Labels: fix

#328 fix(holocron): does not check for global state on component mount
  package-lock.json
  package.json
Labels: fix

#315 docs(production): update recipe with AWS deployment
  docs/recipes/README.md
  docs/recipes/Running-In-Production.md
Labels: documentation

#327 fix(stateConfig): use ip when useHost flag is passed
  __tests__/server/middleware/pwa/offline.spec.jsx
  __tests__/server/utils/__snapshots__/stateConfig.spec.js.snap
  __tests__/server/utils/stateConfig.spec.js
  src/server/utils/stateConfig.js
Labels: fix

#332 test(circuit-breaker): additional test for coverage
  __tests__/server/utils/createCircuitBreaker.spec.js
Labels: test

#329 chore(workflow): update unit test workflow
  .github/workflows/unit_test.yml
Labels: chore

#333 docs(recipes): pwa and modules
  docs/recipes/PWA.md
  docs/recipes/README.md
Labels: documentation

#338 Docs/server side rendering
  docs/recipes/Enabling-Serverside-Rendering.md
  docs/recipes/README.md
Labels: documentation

#341 feat(react): update react to 16.14.0
  package-lock.json
  package.json
Labels: feature

#340 chore(deps): update babel deps
  package-lock.json
  package.json
Labels: chore

#353 chore(deps): bump webpack-subresource-integrity to 1.5.1
  package-lock.json
  prod-sample/sample-modules/cultured-frankie/0.0.0/package-lock.json
  prod-sample/sample-modules/cultured-frankie/0.0.1/package-lock.json
  prod-sample/sample-modules/frank-lloyd-root/0.0.0/package-lock.json
  prod-sample/sample-modules/frank-lloyd-root/0.0.1/package-lock.json
  prod-sample/sample-modules/frank-lloyd-root/0.0.2/package-lock.json
  prod-sample/sample-modules/frank-lloyd-root/0.0.3/package-lock.json
  prod-sample/sample-modules/frank-the-parrot/0.0.0/package-lock.json
  prod-sample/sample-modules/franks-burgers/0.0.0/package-lock.json
  prod-sample/sample-modules/healthy-frank/0.0.0/package-lock.json
  prod-sample/sample-modules/late-frank/0.0.0/package-lock.json
  prod-sample/sample-modules/late-frank/0.0.1/package-lock.json
  prod-sample/sample-modules/late-frank/0.0.2/package-lock.json
  prod-sample/sample-modules/needy-frank/0.0.0/package-lock.json
  prod-sample/sample-modules/needy-frank/0.0.1/package-lock.json
  prod-sample/sample-modules/picky-frank/0.0.0/package-lock.json
  prod-sample/sample-modules/picky-frank/0.0.1/package-lock.json
  prod-sample/sample-modules/preview-frank/0.0.0/package-lock.json
  prod-sample/sample-modules/ssr-frank/0.0.0/package-lock.json
  prod-sample/sample-modules/vitruvius-franklin/0.0.0/package-lock.json
  prod-sample/sample-modules/vitruvius-franklin/0.0.1/package-lock.json
Labels: chore

#356 fix(security): specify min TLS version
  __tests__/server/listen.spec.js
  src/server/listen.js
Labels: feature

#358 chore(template): update PR template
  .github/pull_request_template.md
Labels: chore

#357 chore(codeql): add codeql analysis workflow
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Labels: chore

#360 docs(error-reporting): add reporting client errors recipe
  README.md
  docs/api/README.md
  docs/api/server/Routes.md
  docs/recipes/README.md
  docs/recipes/Reporting-Client-Errors.md
Labels: documentation

#359 Docs/overview
  docs/overview/README.md
  docs/overview/images/one-app-dev.jpg
  docs/overview/images/oneapp-production.jpg
Labels: documentation
