Repository americanexpress/one-app, pull requests merged in 2020-09, with the labels that each got.

#293 test(pwa): add a test for no config
  __tests__/server/middleware/pwa/config.spec.js
Labels: chore

#294 Docs/hide return links
  docs/api/server/Cli-Commands.md
  docs/api/server/Environment-Variables.md
  docs/api/server/Module-Map-Schema.md
Labels: documentation

#297 chore(deps): fix npm audit results
  package-lock.json
  package.json
Labels: chore

#295 chore(actions): ignore dependabot
  .github/workflows/commit_linter.yml
Labels: chore

#302 Docs/running one app locally
  docs/recipes/README.md
  docs/recipes/Running-One-App-Locally.md
Labels: documentation

#281 feat(sendHtml): allow custom error page
  __tests__/integration/one-app.spec.js
  __tests__/server/middleware/sendHtml.spec.js
  __tests__/server/utils/onModuleLoad.spec.jsx
  docs/api/modules/App-Configuration.md
  prod-sample/assets/error.html
  prod-sample/sample-modules/frank-lloyd-root/0.0.2/src/config.js
  src/server/middleware/sendHtml.js
  src/server/utils/onModuleLoad.js
Labels: feature

#305 fix(dockerfile): set user after chown
  Dockerfile
Labels: fix

#310 fix(integration-tests): simplify franks burgers
  __tests__/integration/one-app.spec.js
  prod-sample/sample-modules/franks-burgers/0.0.0/locale/en-US.json
  prod-sample/sample-modules/franks-burgers/0.0.0/package-lock.json
  prod-sample/sample-modules/franks-burgers/0.0.0/package.json
  prod-sample/sample-modules/franks-burgers/0.0.0/src/components/Burger.jsx
  prod-sample/sample-modules/franks-burgers/0.0.0/src/components/index.jsx
Labels: fix

#301 Docs/partial rendering
  docs/recipes/Partial-Rendering.md
  docs/recipes/README.md
Labels: documentation

#279 Module as a Text
  __tests__/integration/one-app.spec.js
  __tests__/server/middleware/createRequestHtmlFragment.spec.js
  __tests__/server/middleware/sendHtml.spec.js
  package-lock.json
  package.json
  prod-sample/sample-modules/frank-lloyd-root/0.0.0/package-lock.json
  prod-sample/sample-modules/frank-lloyd-root/0.0.0/package.json
  prod-sample/sample-modules/frank-lloyd-root/0.0.0/src/components/FrankLloydRoot.jsx
  prod-sample/sample-modules/frank-lloyd-root/0.0.0/src/components/Partial.jsx
  src/server/middleware/createRequestHtmlFragment.jsx
  src/server/middleware/sendHtml.js
  src/server/utils/reactRendering.js
Labels: feature

#300 docs(recipes): update module deployment recipe
  docs/recipes/Deploying-Modules.md
  docs/recipes/Publishing-Modules.md
  docs/recipes/README.md
  docs/recipes/Running-In-Production.md
Labels: documentation

#316 chore(main): switch over to main
  .github/workflows/integrations_test.yml
  .github/workflows/pull_request_release.yml
  .github/workflows/release_drafter.yml
  .github/workflows/tagging.yml
  CONTRIBUTING.md
  README.md
  RELEASE.md
  docs/api/modules/App-Configuration.md
  docs/api/modules/Internationalization.md
  docs/api/modules/Loading-Data.md
  docs/api/modules/Loading-Modules.md
  docs/api/modules/Routing.md
  docs/api/modules/State-Management.md
  docs/api/server/Cli-Commands.md
  docs/api/server/Module-Map-Schema.md
  docs/recipes/Adding-Styles.md
  docs/recipes/Code-Splitting-Using-Holocron.md
  docs/recipes/Internationalizing-Your-Module.md
  docs/recipes/Mocking-Api-Calls.md
  docs/recipes/Publishing-Modules.md
  docs/recipes/Running-In-Production.md
  one-app-statics/README.md
  package.json
Labels: chore

#308 feat(prod-sample): deploy module util
  package-lock.json
  package.json
  prod-sample/README.md
  scripts/build-sample-modules.js
  scripts/deploy-prod-sample-module.js
  scripts/utils.js
Labels: feature

#307 fix(circuit): disable circuit breaker in development
  __tests__/server/utils/createCircuitBreaker.spec.js
  docs/api/modules/App-Configuration.md
  src/server/utils/createCircuitBreaker.js
Labels: fix
