Repository americanexpress/one-app, pull requests merged in 2020-11, with the labels that each got.

#377 chore(precommit): add lockfile lint test to pre-commit script
  package.json
Labels: chore

#376 chore(deps): update conventional-changelog-cli to 2.1.1
  package-lock.json
  package.json
Labels: chore

#373 docs(recipes): monitoring one app
  __performance__/README.md
  docs/recipes/Monitoring-One-App.md
  docs/recipes/README.md
Labels: documentation

#371 docs(ssr): update import statement
  docs/recipes/Enabling-Serverside-Rendering.md
Labels: documentation

#369 test(integration): remove surge dependency
  .github/workflows/integrations_test.yml
  package-lock.json
  package.json
Labels: test

#354 docs(articles): getting started
  docs/overview/Getting-Started.md
Labels: documentation

#379 docs(one-app-runner): add new recipe
  docs/recipes/One-App-Runner.md
Labels: documentation
