Repository americanexpress/one-app, pull requests merged in 2021-01, with the labels that each got.

#399 docs(readme): add links to overview and getting started
  README.md
Labels: documentation

#402 docs(recipes): add import statements to module composition
  docs/recipes/Module-Composition.md
Labels: documentation

#401 docs(recipes): add snippet of module map to module composition
  docs/recipes/Module-Composition.md
Labels: documentation

#396 docs(troubleshooting): add troubleshooting documentation
  README.md
  docs/troubleshooting/README.md
  docs/troubleshooting/error-while-attempting-to-call-load-module-data.md
  docs/troubleshooting/failed-to-load-holocron-module.md
  docs/troubleshooting/module-does-not-exist-in-module-map.md
  docs/troubleshooting/refused-to-connect-to-url-due-to-csp-violation.md
Labels: documentation

#408 fix(docs): rename pwa recipe
  docs/recipes/Progressive-One-App.md
  docs/recipes/README.md
Labels: fix

#407 chore(deps): updating dependencies
  package-lock.json
  package.json
Labels: chore

#409 chore(opossum): update opossum and opossum prometheus
  package-lock.json
  package.json
  src/server/metrics/circuit-breaker.js
Labels: chore

#406 feat(metrics): track intl cache size
  __performance__/grafana/dashboards/one-app-classic.json
  __tests__/integration/__snapshots__/one-app.spec.js.snap
  __tests__/server/metrics/__snapshots__/intl-cache.spec.js.snap
  __tests__/server/metrics/index.spec.js
  __tests__/server/metrics/intl-cache.spec.js
  __tests__/server/metricsServer.spec.js
  package-lock.json
  src/server/metrics/__mocks__/index.js
  src/server/metrics/index.js
  src/server/metrics/intl-cache.js
  src/server/metricsServer.js
Labels: feature

#419 docs(recipes): add missing link to one app runner
  docs/recipes/README.md
Labels: documentation

#413 fix(holocron-module-route): updates dep returns promises
  package-lock.json
  package.json
Labels: fix
