Repository americanexpress/one-app, pull requests merged in 2022-05, with the labels that each got.

#726 chore(workflow): release - checkout tag
  .github/workflows/release-step-3_automatic_prepare-docker-tags.yml
  .github/workflows/release-step-4_automatic_docker-prod-build-and-publish.yml
  .github/workflows/release-step-5_automatic_docker-dev-build-and-publish.yml
  .github/workflows/release-step-6-automatic_publish-one-app-statics-to-npm.yml
Labels: chore

#721 feat(ssrServer): make max POST request payload size configurable
  __tests__/server/config/env/__snapshots__/runTime.spec.js.snap
  __tests__/server/config/env/runTime.spec.js
  __tests__/server/ssrServer.spec.js
  docs/api/server/Environment-Variables.md
  package-lock.json
  package.json
  src/server/config/env/runTime.js
  src/server/ssrServer.js
Labels: feature, one-app-team-review-requested

#734 chore(workflows): docker-dev-build fix tag
  .github/workflows/release-step-5_automatic_docker-dev-build-and-publish.yml
Labels: chore

#720 chore(browserslist): npx browserslist@latest --update-db
  package-lock.json
Labels: one-app-team-review-requested

#727 feat(dns): add option to enable app-level DNS caching
  __tests__/server/utils/onModuleLoad.spec.jsx
  __tests__/server/utils/setupDnsCache.spec.js
  docs/api/modules/App-Configuration.md
  package-lock.json
  package.json
  src/server/utils/onModuleLoad.js
  src/server/utils/setupDnsCache.js
Labels: feature, one-app-team-review-requested

#735 docs(release): update for new workflows
  RELEASE.md
Labels: documentation, one-app-team-review-requested

#740 chore(workflow): allow control of docker meta tag
  .github/workflows/release-step-3_automatic_prepare-docker-tags.yml
  .github/workflows/release-step-4_automatic_docker-prod-build-and-publish.yml
  .github/workflows/release-step-5_automatic_docker-dev-build-and-publish.yml
  RELEASE.md
Labels: chore, one-app-team-review-requested

#743 chore(workflow): fix typo in client_payload in Release 4
  .github/workflows/release-step-4_automatic_docker-prod-build-and-publish.yml
Labels: chore

#744 chore(workflows): only tag major and major.minor for latest
  .github/workflows/release-step-4_automatic_docker-prod-build-and-publish.yml
  .github/workflows/release-step-5_automatic_docker-dev-build-and-publish.yml
Labels: chore

#745 feat(update): updated node and npm versions on docker file
  Dockerfile
Labels: feature, one-app-team-review-requested

#748 fix(fetch-enhancers): use tree-shakable es build
  package-lock.json
  package.json
Labels: fix, one-app-team-review-requested
