Repository americanexpress/one-app, pull requests merged in 2022-01, with the labels that each got.

#647 fix(prodsample): configureRequestLog had faulty example code
  prod-sample/sample-modules/frank-lloyd-root/0.0.0/src/config.js
  prod-sample/sample-modules/frank-lloyd-root/0.0.2/src/config.js
  prod-sample/sample-modules/frank-lloyd-root/0.0.3/src/config.js
Labels: fix

#654 chore(one-app-bundler): update 6.14.2
  package-lock.json
  package.json
Labels: chore

#640 Feat/disable csp
  __tests__/server/config/env/runTime.spec.js
  __tests__/server/middleware/csp.spec.js
  __tests__/server/utils/__snapshots__/onModuleLoad.spec.jsx.snap
  __tests__/server/utils/onModuleLoad.spec.jsx
  docs/api/server/Environment-Variables.md
  src/server/config/env/runTime.js
  src/server/middleware/csp.js
  src/server/utils/onModuleLoad.js
Labels: feature

#631 fix(holocron): bad modules could cause crashes and prevent restart
  __tests__/integration/helpers/moduleMap.js
  __tests__/integration/one-app.spec.js
  package-lock.json
  package.json
  prod-sample/sample-modules/unhealthy-frank/0.0.0/.babelrc
  prod-sample/sample-modules/unhealthy-frank/0.0.0/.npmrc
  prod-sample/sample-modules/unhealthy-frank/0.0.0/README.md
  prod-sample/sample-modules/unhealthy-frank/0.0.0/package.json
  prod-sample/sample-modules/unhealthy-frank/0.0.0/src/components/UnhealthyFrank.jsx
  prod-sample/sample-modules/unhealthy-frank/0.0.0/src/index.js
Labels: test
