Repository americanexpress/one-app, pull requests merged in 2022-04, with the labels that each got.

#701 chore(workflows): overhaul workflows ready for 5.x.x
  .github/pr-labeler.yml
  .github/release-drafter-5.x.x.yml
  .github/release-drafter-main.yml
  .github/workflows/README.md
  .github/workflows/issue_triage.yml
  .github/workflows/issue_trigger-pull-request.yml
  .github/workflows/on-main_release-drafter.yml
  .github/workflows/on-pr-and-trunk_codeql.yml
  .github/workflows/on-pr-and-trunk_one-app-unit-and-lint-tests.yml
  .github/workflows/on-pr_dangerJS.yml
  .github/workflows/on-pr_one-app-integration-tests.yml
  .github/workflows/on-pr_pr-labeler.yml
  .github/workflows/on-trunk_one-app-integration-tests.yml
  .github/workflows/pr-issue_mark-stale-issue-and-pr.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/release-step-1_manual_create-release-pr.yml
  .github/workflows/release-step-2_automatic_tag-release.yml
  .github/workflows/release-step-3_automatic_prepare-docker-tags.yml
  .github/workflows/release-step-4_automatic_docker-prod-build-and-publish.yml
  .github/workflows/release-step-5_automatic_docker-dev-build-and-publish.yml
  .github/workflows/release-step-6-automatic_publish-one-app-statics-to-npm.yml
  RELEASE.md
  package.json
Labels: chore, one-app-team-review-requested

#722 fix(one-app-ducks): delete lang pack request errors
  package-lock.json
  package.json
Labels: fix, one-app-team-review-requested

#723 chore(release): 5.13.3
  CHANGELOG.md
  one-app-statics/package.json
  package-lock.json
  package.json
Labels: chore, one-app-team-review-requested

#718 docs(readme): fix one app runner guide link in readme
  README.md
Labels: one-app-team-review-requested
