Repository americanexpress/one-app, pull requests merged in 2023-10, with the labels that each got.

#1141 chore(workflows): use GITHUB_OUTPUT instead of ::set-output
  .github/workflows/on-pr-and-trunk_one-app-unit-and-lint-tests.yml
  .github/workflows/release-step-2_automatic_tag-release.yml
  .github/workflows/release-step-3_automatic_prepare-docker-tags.yml
  .github/workflows/release-step-4_automatic_docker-prod-build-and-publish.yml
  .github/workflows/release-step-5_automatic_docker-dev-build-and-publish.yml
  .github/workflows/release-step-6-automatic_publish-one-app-statics-to-npm.yml
Labels: chore

#1157 chore(deps): audit fix
  package-lock.json
Labels: chore, one-app-team-review-requested

#1160 chore(logging): update to remove no longer needed patches
  __tests__/server/utils/logging/config/otel.spec.js
  __tests__/server/utils/logging/logger.spec.js
  package-lock.json
  package.json
  src/server/utils/logging/config/base.js
  src/server/utils/logging/config/development.js
  src/server/utils/logging/config/otel.js
  src/server/utils/logging/config/production.js
  src/server/utils/logging/logger.js
  src/server/utils/logging/utils.js
Labels: Feature, one-app-team-review-requested

#1159 fix(scripts): start watch failed to fetch modules
  scripts/watch-server.js
Labels: fix, one-app-team-review-requested

#1164 feat: update strict transport security header to 2 years
  __tests__/server/middleware/addSecurityHeaders.spec.js
  src/server/middleware/addSecurityHeaders.js
Labels: Feature, one-app-team-review-requested
