Repository americanexpress/one-app, pull requests merged in 2023-06, with the labels that each got.

#1014 a server tracing system for One App
  __tests__/server/config/env/runTime.spec.js
  __tests__/server/middleware/createRequestHtmlFragment.spec.js
  __tests__/server/middleware/sendHtml.spec.js
  __tests__/server/utils/tracer.spec.js
  src/server/config/env/runTime.js
  src/server/middleware/addFrameOptionsHeader.js
  src/server/middleware/createRequestHtmlFragment.jsx
  src/server/middleware/createRequestStore.js
  src/server/middleware/sendHtml.js
  src/server/ssrServer.js
  src/server/utils/tracer.js
Labels: one-app-team-review-requested

#1031 chore(node): upgrade to node 16.20.0
  Dockerfile
Labels: chore, one-app-team-review-requested

#1030 chore(node): upgrade to node 16.20.0
  Dockerfile
Labels: chore, one-app-team-review-requested

#1032 feat(circuitBreaker): configurable event loop delay percentile
  __tests__/server/utils/createCircuitBreaker.spec.js
  __tests__/server/utils/onModuleLoad.spec.jsx
  docs/api/modules/App-Configuration.md
  src/server/utils/createCircuitBreaker.js
  src/server/utils/onModuleLoad.js
Labels: feature, one-app-team-review-requested

#1029 fix(configureRequestLog): use default when configured with undefined
  __tests__/server/utils/logging/fastifyPlugin.spec.js
  src/server/utils/logging/fastifyPlugin.js
Labels: fix, one-app-team-review-requested

#1026 feat(metrics): response time summary
  __tests__/integration/__snapshots__/one-app.spec.js.snap
  __tests__/integration/one-app.spec.js
  __tests__/server/plugins/addRequestMetrics.spec.js
  package-lock.json
  package.json
  src/server/metrics/index.js
  src/server/metrics/route.js
  src/server/plugins/addRequestMetrics.js
  src/server/ssrServer.js
Labels: feature, one-app-team-review-requested

#1034 feat(metrics): switch to fastify-metrics
  __tests__/integration/__snapshots__/one-app.spec.js.snap
  __tests__/server/plugins/addRequestMetrics.spec.js
  __tests__/server/ssrServer.spec.js
  package-lock.json
  package.json
  src/server/metrics/index.js
  src/server/metrics/route.js
  src/server/plugins/addRequestMetrics.js
  src/server/ssrServer.js
Labels: feature, one-app-team-review-requested

#1036 Feat/5.x.x request metrics
  __tests__/integration/__snapshots__/one-app.spec.js.snap
  package-lock.json
  package.json
  src/server/ssrServer.js
Labels: feature, one-app-team-review-requested

#1038 fix(csp-report): add application/csp-report content type support
  __tests__/integration/__snapshots__/one-app.spec.js.snap
  __tests__/integration/one-app.spec.js
  __tests__/server/ssrServer-requests.spec.js
  __tests__/server/ssrServer.spec.js
  src/server/ssrServer.js
Labels: fix, one-app-team-review-requested

#1040 fix(node): bump node to 16.20.1 for security patches
  Dockerfile
Labels: fix, one-app-team-review-requested

#1041 fix(node): bump node to 16.20.1 for security patches
  Dockerfile
Labels: fix, one-app-team-review-requested
