Repository americanexpress/one-app, pull requests merged in 2023-09, with the labels that each got.

#1099 feat(styleLoader): aggregate stylesheets and dedupe if already loaded
  __tests__/server/utils/__snapshots__/renderModuleStyles.spec.js.snap
  __tests__/server/utils/renderModuleStyles.spec.js
  src/server/utils/renderModuleStyles.js
Labels: Feature, one-app-team-review-requested

#1122 chore(dev-deps): remove markdown-table
  package-lock.json
  package.json
Labels: chore, one-app-team-review-requested

#1123 chore(dev-deps): remove markdown-table
  package-lock.json
  package.json
Labels: chore, one-app-team-review-requested

#1127 chore(integration-tests): increase log watch timeout
  __tests__/integration/one-app.spec.js
Labels: chore, one-app-team-review-requested

#1126 chore(dep): bump one-app-bundler
  package-lock.json
  package.json
Labels: chore, one-app-team-review-requested

#1094 feat(cache-module): implemented cached modules
  __tests__/server/utils/__snapshots__/devCdnFactory.spec.js.snap
  __tests__/server/utils/cdnCache.spec.js
  __tests__/server/utils/devCdnFactory.spec.js
  src/server/utils/cdnCache.js
  src/server/utils/devCdnFactory.js
Labels: one-app-team-review-requested, Roadmap

#984 feat(external-fallbacks): enable modules to have external fallbacks
  __tests__/client/initClient.spec.js
  __tests__/server/plugins/reactHtml/index.spec.jsx
  __tests__/server/utils/__snapshots__/onModuleLoad.spec.jsx.snap
  __tests__/server/utils/getModulesToUpdate.spec.js
  __tests__/server/utils/onModuleLoad.spec.jsx
  package-lock.json
  package.json
  src/client/initClient.jsx
  src/server/plugins/reactHtml/index.jsx
  src/server/utils/__mocks__/onModuleLoad.js
  src/server/utils/getModulesToUpdate.js
  src/server/utils/onModuleLoad.js
  src/server/utils/safeRequest.js
Labels: Feature, one-app-team-review-requested, Critical

#1090 feat(Dockerfile): use .nvmrc to build the image
  .github/workflows/README.md
  .github/workflows/bundle-size.yml
  .github/workflows/on-pr-and-trunk_one-app-unit-and-lint-tests.yml
  .github/workflows/on-pr_dangerJS.yml
  .github/workflows/on-pr_one-app-integration-tests.yml
  .github/workflows/release-step-1_manual_create-release-pr.yml
  .github/workflows/release-step-4_automatic_docker-prod-build-and-publish.yml
  .github/workflows/release-step-5_automatic_docker-dev-build-and-publish.yml
  .github/workflows/release-step-6-automatic_publish-one-app-statics-to-npm.yml
  .nvmrc
  Dockerfile
  __tests__/package.spec.js
  docs/guides/Running-In-Production.md
Labels: Feature, one-app-team-review-requested

#1097 Enable OpenTelemetry logging in v6
  __tests__/integration/helpers/moduleMap.js
  __tests__/server/config/env/runTime.spec.js
  __tests__/server/index.spec.js
  __tests__/server/plugins/reactHtml/index.spec.jsx
  __tests__/server/shutdown.spec.js
  __tests__/server/ssrServer-requests.spec.js
  __tests__/server/ssrServer.spec.js
  __tests__/server/utils/createCircuitBreaker.spec.js
  __tests__/server/utils/devCdnFactory.spec.js
  __tests__/server/utils/heapdump.spec.js
  __tests__/server/utils/logging/config/otel.spec.js
  __tests__/server/utils/logging/config/production.spec.js
  __tests__/server/utils/logging/logger.spec.js
  __tests__/server/utils/onModuleLoad.spec.jsx
  __tests__/server/utils/pollModuleMap.spec.js
  __tests__/server/utils/redirectAllowList.spec.js
  docs/api/server/Environment-Variables.md
  package-lock.json
  package.json
  src/server/config/env/runTime.js
  src/server/plugins/healthCheck.js
  src/server/utils/heapdump.js
  src/server/utils/logging/config/base.js
  src/server/utils/logging/config/development.js
  src/server/utils/logging/config/otel.js
  src/server/utils/logging/config/production.js
  src/server/utils/logging/logger.js
  src/server/utils/logging/setup.js
  src/server/utils/logging/utils.js
Labels: Feature, one-app-team-review-requested, Critical

#1131 feat(metrics): add module rejection and fallback gauges
  __tests__/integration/__snapshots__/one-app.spec.js.snap
  __tests__/server/metrics/__snapshots__/holocron.spec.js.snap
  __tests__/server/utils/pollModuleMap.spec.js
  src/server/metrics/__mocks__/index.js
  src/server/metrics/holocron.js
  src/server/utils/loadModules.js
  src/server/utils/pollModuleMap.js
Labels: Feature, one-app-team-review-requested, Roadmap

#1136 chore(sample-modules): support node 18 (#1132)
  .gitignore
  __tests__/integration/one-app.spec.js
  package-lock.json
  package.json
  prod-sample/sample-modules/cultured-frankie/0.0.0/package.json
  prod-sample/sample-modules/cultured-frankie/0.0.1/package.json
  prod-sample/sample-modules/frank-lloyd-root/0.0.0/package.json
  prod-sample/sample-modules/frank-lloyd-root/0.0.1/package.json
  prod-sample/sample-modules/frank-lloyd-root/0.0.2/package.json
  prod-sample/sample-modules/frank-lloyd-root/0.0.3/package.json
  prod-sample/sample-modules/frank-the-parrot/0.0.0/package.json
  prod-sample/sample-modules/franks-burgers/0.0.0/package.json
  prod-sample/sample-modules/healthy-frank/0.0.0/package.json
  prod-sample/sample-modules/late-frank/0.0.0/package.json
  prod-sample/sample-modules/late-frank/0.0.1/package.json
  prod-sample/sample-modules/late-frank/0.0.2/package.json
  prod-sample/sample-modules/needy-frank/0.0.0/package.json
  prod-sample/sample-modules/needy-frank/0.0.1/package.json
  prod-sample/sample-modules/picky-frank/0.0.0/package.json
  prod-sample/sample-modules/picky-frank/0.0.1/package.json
  prod-sample/sample-modules/preview-frank/0.0.0/package.json
  prod-sample/sample-modules/ssr-frank/0.0.0/package.json
  prod-sample/sample-modules/unhealthy-frank/0.0.0/package.json
  prod-sample/sample-modules/vitruvius-franklin/0.0.0/package.json
  prod-sample/sample-modules/vitruvius-franklin/0.0.1/package.json
Labels: chore, one-app-team-review-requested

#1129 chore(package): bump holocron to 1.8.1
  __tests__/server/middleware/pwa/offline.spec.jsx
  package-lock.json
  package.json
Labels: chore, one-app-team-review-requested

#1134 test(integration): increase log watch timeout
  __tests__/integration/one-app.spec.js
Labels: one-app-team-review-requested

#1138 fix(cache-cdn): stringify object
  __tests__/server/utils/cdnCache.spec.js
  src/server/utils/cdnCache.js
Labels: fix, one-app-team-review-requested

#1140 fix(update-package): update one-app-dev-cdn
  package-lock.json
  package.json
Labels: fix, one-app-team-review-requested
