Repository americanexpress/one-app, pull requests merged in 2023-05, with the labels that each got.

#994 chore(workflows): on-pr-and-trunk_one-app-unit-and-lint-tests exclude 18.16.0
  .github/workflows/on-pr-and-trunk_one-app-unit-and-lint-tests.yml
Labels: chore

#999 docs(post-to-modules): correct request body info
  docs/guides/Post-To-Modules.md
Labels: one-app-team-review-requested

#992 fix(memoryLeak): disable cache for transitjs
  src/universal/utils/transit.js
Labels: fix, one-app-team-review-requested

#993 fix(memoryLeak): disable cache for transitjs
  src/universal/utils/transit.js
Labels: fix, one-app-team-review-requested

#1008 fix(memLeak): update one-app-ducks to fix memory leak
  package-lock.json
  package.json
Labels: fix, one-app-team-review-requested

#1009 fix(memLeak): update one-app-ducks to fix memory leak
  package-lock.json
  package.json
Labels: fix, one-app-team-review-requested
