Repository americanexpress/one-app, pull requests merged in 2023-11, with the labels that each got.

#1182 fix: correctly set strict transport security header
  __tests__/integration/one-app.spec.js
  __tests__/server/middleware/addSecurityHeaders.spec.js
  package-lock.json
  package.json
  src/server/middleware/addSecurityHeaders.js
  src/server/ssrServer.js
Labels: fix, one-app-team-review-requested

#1166 fix(reactHtml): renderScripts adding unknown integrity
  __tests__/server/plugins/reactHtml/index.spec.jsx
  package-lock.json
  package.json
  src/server/plugins/reactHtml/index.jsx
Labels: fix, one-app-team-review-requested

#1189 fix(holocron): update 1.9.2
  package-lock.json
  package.json
Labels: fix, one-app-team-review-requested

#1188 fix(otel): cpu spike from grpc
  __tests__/server/utils/logging/otel/logger.spec.js
  package-lock.json
  package.json
  src/server/utils/logging/otel/logger.js
Labels: one-app-team-review-requested

#1195 chore(package): set engines to accurately represent node support
  package.json
Labels: chore, one-app-team-review-requested

#1194 fix(runTime): use relative urls for defaulted report variables
  __tests__/server/config/env/runTime.spec.js
  src/server/config/env/runTime.js
Labels: one-app-team-review-requested
