Repository americanexpress/one-app, pull requests merged in 2023-08, with the labels that each got.

#1051 feat(config): new config redirectAllowList
  __tests__/server/middleware/checkStateForRedirect.spec.js
  __tests__/server/middleware/createRequestHtmlFragment.spec.js
  __tests__/server/utils/onModuleLoad.spec.jsx
  __tests__/server/utils/redirectAllowList.spec.js
  docs/api/modules/App-Configuration.md
  package-lock.json
  package.json
  src/server/middleware/checkStateForRedirect.js
  src/server/middleware/createRequestHtmlFragment.jsx
  src/server/utils/onModuleLoad.js
  src/server/utils/redirectAllowList.js
Labels: feature, one-app-team-review-requested

#1066 fix(tracer): ending timers without starting would crash server
  __tests__/server/utils/tracer.spec.js
  src/server/utils/tracer.js
Labels: fix, one-app-team-review-requested

#1067 feat(node): upgrade to node 18
  Dockerfile
  __tests__/server/utils/createCircuitBreaker.spec.js
  package.json
Labels: feature, one-app-team-review-requested

#1069 chore(dependabot): update the 5.x.x branch
  .github/dependabot.yml
Labels: fix

#1085 fix(image): exclude devDeps from non-dev image
  package-lock.json
  package.json
  src/server/utils/devCdnFactory.js
Labels: fix, one-app-team-review-requested

#1086 fix(image): move if-env to devDeps
  package-lock.json
  package.json
Labels: fix, one-app-team-review-requested

#1088 Fix/node august 2023 security release 5.x.x
  Dockerfile
Labels: fix, one-app-team-review-requested, Critical

#1087 fix(node): bump Node.js to 18.17.1 for security patches
  Dockerfile
Labels: fix, one-app-team-review-requested, Critical

#1095 feat(one-app-dev-cdn): update to add module cache feature
  package-lock.json
  package.json
Labels: feature, one-app-team-review-requested, Roadmap
