Repository americanexpress/one-app, pull requests merged in 2023-03, with the labels that each got.

#939 fix(load-modules): unnecessary calls to updateModuleRegistry
  __tests__/integration/one-app.spec.js
  __tests__/server/utils/__snapshots__/loadModules.spec.jsx.snap
  __tests__/server/utils/loadModules.spec.jsx
  package-lock.json
  package.json
  src/server/utils/loadModules.js
Labels: fix, one-app-team-review-requested

#941 feat(createRequestHtmlFragment): allow modules to trigger a redirect from loadModuleData (v5)
  .eslintrc.json
  __tests__/server/config/env/runTime.spec.js
  __tests__/server/middleware/createRequestHtmlFragment.spec.js
  __tests__/server/utils/createCircuitBreaker.spec.js
  docs/api/modules/Loading-Data.md
  package-lock.json
  package.json
  src/server/middleware/createRequestHtmlFragment.jsx
  src/server/utils/createCircuitBreaker.js
Labels: feature, one-app-team-review-requested

#927 feat(middleware): trigger a redirect from loadModuleData
  .eslintrc.json
  __tests__/server/config/env/runTime.spec.js
  __tests__/server/plugins/reactHtml/createRequestHtmlFragment.spec.jsx
  __tests__/server/utils/createCircuitBreaker.spec.js
  docs/api/modules/Loading-Data.md
  package-lock.json
  package.json
  src/server/plugins/reactHtml/createRequestHtmlFragment.jsx
  src/server/utils/createCircuitBreaker.js
Labels: feature, one-app-team-review-requested

#942 fix(load-modules): unnecessary calls to updateModuleRegistry (v5)
  __tests__/integration/one-app.spec.js
  __tests__/server/utils/__snapshots__/loadModules.spec.jsx.snap
  __tests__/server/utils/loadModules.spec.jsx
  package-lock.json
  package.json
  src/server/utils/loadModules.js
Labels: fix, one-app-team-review-requested

#949 fix(devCdn): requests were not using node-fetch API
  __mocks__/node-fetch.js
  __tests__/server/utils/devCdnFactory.spec.js
  src/server/utils/devCdnFactory.js
Labels: fix, one-app-team-review-requested

#943 chore(module-map-poll): reduce min time
  __tests__/integration/one-app.spec.js
  prod-sample/one-app/base.env
  src/server/utils/pollModuleMap.js
Labels: chore, one-app-team-review-requested

#951 feat(holocron): allow mapStateToProps to be passed to holocron
  package-lock.json
  package.json
Labels: chore, one-app-team-review-requested

#952 feat(holocron): allow mapStateToProps to be passed to holocron
  package-lock.json
  package.json
Labels: chore, one-app-team-review-requested

#956 chore(integration): remove remote integration tests
  .github/workflows/on-trunk_one-app-integration-tests.yml
Labels: chore

#957 chore(workflows): changes for 5.x.x (#792)
  .github/workflows/on-trunk_one-app-integration-tests.yml
Labels: chore

#960 Fix typos in documentation
  docs/api/modules/App-Configuration.md
  docs/api/server/Environment-Variables.md
  docs/guides/Internationalizing-Your-Module.md
  src/server/plugins/conditionallyAllowCors.js
Labels: one-app-team-review-requested

#962 Update holocron - provide rejected modules
  __tests__/server/utils/__snapshots__/pollModuleMap.spec.js.snap
  __tests__/server/utils/loadModules.spec.jsx
  __tests__/server/utils/pollModuleMap.spec.js
  package-lock.json
  package.json
  src/server/utils/loadModules.js
  src/server/utils/pollModuleMap.js
Labels: feature, one-app-team-review-requested

#965 feat(pollModuleMap): holocron provide rejected externals
  __tests__/server/utils/__snapshots__/pollModuleMap.spec.js.snap
  __tests__/server/utils/loadModules.spec.jsx
  __tests__/server/utils/pollModuleMap.spec.js
  package-lock.json
  package.json
  src/server/utils/loadModules.js
  src/server/utils/pollModuleMap.js
Labels: feature, one-app-team-review-requested
