Repository americanexpress/one-app, pull requests merged in 2024-03, with the labels that each got.

#1293 Upgrading to Node.js 20
  .nvmrc
  Dockerfile
  package-lock.json
  package.json
  prod-sample/api/Dockerfile
Labels: one-app-team-review-requested, refactor

#1321 v5 - Upgrading to Node.js 20
  .github/workflows/bundle-size.yml
  .github/workflows/on-pr-and-trunk_one-app-unit-and-lint-tests.yml
  .github/workflows/on-pr_dangerJS.yml
  .github/workflows/on-pr_one-app-integration-tests.yml
  .github/workflows/release-step-1_manual_create-release-pr.yml
  .github/workflows/release-step-6-automatic_publish-one-app-statics-to-npm.yml
  .nvmrc
  Dockerfile
  __tests__/integration/__snapshots__/one-app.spec.js.snap
  docs/guides/Publishing-Modules.md
  package-lock.json
  package.json
  prod-sample/api/Dockerfile
  prod-sample/sample-modules/.eslintrc.json
Labels: one-app-team-review-requested, refactor

#1325 test(integration): use otel file exporter instead of logging exporter
  .github/workflows/on-pr_one-app-integration-tests.yml
  __tests__/integration/__snapshots__/one-app.spec.js.snap
  __tests__/integration/helpers/testRunner.js
  __tests__/integration/one-app.spec.js
  prod-sample/docker-compose.yml
  prod-sample/otel-collector/config.yaml
  scripts/build-one-app-docker-setup.js
Labels: Feature, one-app-team-review-requested

#1332 Revert "refactor: upgrade to node 20"
  .nvmrc
  Dockerfile
  package-lock.json
  package.json
  prod-sample/api/Dockerfile
Labels: Feature, one-app-team-review-requested

#1333 feat: add dotenv support
  .gitignore
  docs/api/server/Environment-Variables.md
  package-lock.json
  package.json
  scripts/start.sh
Labels: Feature, one-app-team-review-requested

#1334 Revert "v5 - Upgrading to Node.js 20"
  .github/workflows/bundle-size.yml
  .github/workflows/on-pr-and-trunk_one-app-unit-and-lint-tests.yml
  .github/workflows/on-pr_dangerJS.yml
  .github/workflows/on-pr_one-app-integration-tests.yml
  .github/workflows/release-step-1_manual_create-release-pr.yml
  .github/workflows/release-step-6-automatic_publish-one-app-statics-to-npm.yml
  .nvmrc
  Dockerfile
  __tests__/integration/__snapshots__/one-app.spec.js.snap
  docs/guides/Publishing-Modules.md
  package-lock.json
  package.json
  prod-sample/api/Dockerfile
  prod-sample/sample-modules/.eslintrc.json
Labels: one-app-team-review-requested

#1339 Fix release workflow
  package-lock.json
  package.json
Labels: one-app-team-review-requested

#1341 chore(docker): ignore build cache
  .dockerignore
Labels: chore, one-app-team-review-requested

#1258 feat(conditionalIntl): added env var for Itnl
  __tests__/client/prerender.spec.js
  __tests__/integration/helpers/testRunner.js
  __tests__/server/config/env/runTime.spec.js
  __tests__/server/plugins/reactHtml/index.spec.jsx
  docs/api/server/Environment-Variables.md
  package-lock.json
  package.json
  src/client/polyfill/Intl.js
  src/client/prerender.js
  src/server/config/env/runTime.js
  src/server/plugins/reactHtml/index.jsx
  src/server/polyfill/intl.js
Labels: Feature, one-app-team-review-requested

#1344 fix(serve-module): dev cdn would fail to start when serving modules without a legacy bundle
  package-lock.json
  package.json
Labels: one-app-team-review-requested
