Repository americanexpress/one-app, pull requests merged in 2024-02, with the labels that each got.

#1280 chore(node): drop node 16
  .github/workflows/on-pr-and-trunk_one-app-unit-and-lint-tests.yml
  docs/guides/Publishing-Modules.md
  docs/guides/Running-One-App-Locally.md
  package-lock.json
  package.json
Labels: Feature, one-app-team-review-requested

#1285 chore(workflows): fix labeler action config
  .github/labeler.yml
  .github/workflows/on-pr_pr-labeler.yml
  README.md
Labels: chore

#1287 chore(workflows): labeler config did not match files at root
  .github/labeler.yml
Labels: chore, one-app-team-review-requested

#1295 fix(devCdn): removing extra / which created malformed url
  __tests__/server/utils/devCdnFactory.spec.js
  package-lock.json
  package.json
  src/server/utils/devCdnFactory.js
Labels: fix, one-app-team-review-requested

#1297 feat(proxyagent): update proxy agent
  __tests__/server/utils/devCdnFactory.spec.js
  package-lock.json
  package.json
  src/server/utils/devCdnFactory.js
Labels: Feature, one-app-team-review-requested

#1291 feat(styles-loader): aggregate stylesheets and dedupe if already loaded
  __tests__/server/utils/__snapshots__/renderModuleStyles.spec.js.snap
  __tests__/server/utils/renderModuleStyles.spec.js
  src/server/utils/renderModuleStyles.js
Labels: Feature, one-app-team-review-requested

#1292 feat(logger): use a pretty logger in locale development with OTel enabled
  __tests__/server/plugins/reactHtml/staticErrorPage.spec.jsx
  __tests__/server/utils/cdnCache.spec.js
  __tests__/server/utils/logging/config/otel.spec.js
  __tests__/server/utils/logging/logger.spec.js
  __tests__/universal/utils/transit.spec.js
  package-lock.json
  package.json
  prod-sample/sample-modules/cultured-frankie/0.0.0/package.json
  prod-sample/sample-modules/cultured-frankie/0.0.1/package.json
  prod-sample/sample-modules/frank-lloyd-root/0.0.0/package.json
  prod-sample/sample-modules/frank-lloyd-root/0.0.1/package.json
  prod-sample/sample-modules/frank-lloyd-root/0.0.2/package.json
  prod-sample/sample-modules/frank-lloyd-root/0.0.3/package.json
  prod-sample/sample-modules/frank-the-parrot/0.0.0/package.json
  prod-sample/sample-modules/franks-burgers/0.0.0/package.json
  prod-sample/sample-modules/healthy-frank/0.0.0/package.json
  prod-sample/sample-modules/late-frank/0.0.0/package.json
  prod-sample/sample-modules/late-frank/0.0.1/package.json
  prod-sample/sample-modules/late-frank/0.0.2/package.json
  prod-sample/sample-modules/needy-frank/0.0.0/package.json
  prod-sample/sample-modules/needy-frank/0.0.1/package.json
  prod-sample/sample-modules/picky-frank/0.0.0/package.json
  prod-sample/sample-modules/picky-frank/0.0.1/package.json
  prod-sample/sample-modules/preview-frank/0.0.0/package.json
  prod-sample/sample-modules/ssr-frank/0.0.0/package.json
  prod-sample/sample-modules/unhealthy-frank/0.0.0/package.json
  prod-sample/sample-modules/vitruvius-franklin/0.0.0/package.json
  prod-sample/sample-modules/vitruvius-franklin/0.0.1/package.json
  src/server/plugins/reactHtml/staticErrorPage.jsx
  src/server/utils/logging/config/otel.js
  src/server/utils/logging/logger.js
Labels: Feature, one-app-team-review-requested

#1302 refactor(deps): remove ip for node native implementation
  __tests__/server/config/env/runTime.spec.js
  __tests__/server/utils/getIP.spec.js
  __tests__/server/utils/stateConfig.spec.js
  __tests__/server/utils/watchLocalModules.spec.js
  package-lock.json
  package.json
  prod-sample/sample-modules/frank-lloyd-root/0.0.0/src/csp.js
  prod-sample/sample-modules/frank-lloyd-root/0.0.0/src/getIP.js
  prod-sample/sample-modules/frank-lloyd-root/0.0.1/src/csp.js
  prod-sample/sample-modules/frank-lloyd-root/0.0.1/src/getIP.js
  prod-sample/sample-modules/frank-lloyd-root/0.0.2/src/csp.js
  prod-sample/sample-modules/frank-lloyd-root/0.0.2/src/getIP.js
  prod-sample/sample-modules/frank-lloyd-root/0.0.3/src/csp.js
  prod-sample/sample-modules/frank-lloyd-root/0.0.3/src/getIP.js
  src/server/config/env/runTime.js
  src/server/plugins/csp.js
  src/server/utils/devCdnFactory.js
  src/server/utils/getIP.js
  src/server/utils/stateConfig.js
  src/server/utils/watchLocalModules.js
Labels: chore, one-app-team-review-requested
