Repository americanexpress/one-app, pull requests merged in 2024-04, with the labels that each got.

#1352 feat(tracing): include B3 propagator
  __tests__/integration/one-app.spec.js
  __tests__/server/utils/tracer.spec.js
  package-lock.json
  package.json
  prod-sample/api/server.js
  prod-sample/sample-modules/ssr-frank/0.0.0/src/components/SsrFrank.jsx
  src/server/utils/tracer.js
Labels: Feature, one-app-team-review-requested

#1351 test(integration): only send logs to stdout on debug runs
  __tests__/integration/helpers/testRunner.js
Labels: test, one-app-team-review-requested

#1369 fix(node): update to 18.20.1
  .nvmrc
Labels: fix, one-app-team-review-requested

#1374 fix(node): update to 18.20.1 (5.x.x)
  .nvmrc
  Dockerfile
Labels: fix, one-app-team-review-requested

#1376 chore(deps): @autotelic/fastify-opentelemetry@0.21.0
  __tests__/integration/one-app.spec.js
  __tests__/server/plugins/noopTracer.spec.js
  __tests__/server/plugins/reactHtml/index.spec.jsx
  __tests__/server/plugins/tracer.spec.js
  __tests__/server/ssrServer.spec.js
  package-lock.json
  package.json
  src/server/plugins/noopTracer.js
  src/server/plugins/reactHtml/index.jsx
  src/server/plugins/tracer.js
  src/server/ssrServer.js
Labels: Feature, one-app-team-review-requested

#1383 Revert "fix(node): update to 18.20.1 (#1369)"
  .nvmrc
Labels: one-app-team-review-requested

#1381 fix(dependencies): override chokidar 2 with 3
  package-lock.json
  package.json
Labels: fix, one-app-team-review-requested

#1386 chore(scripts): remove postinstall and preinstall
  .github/pr-labeler.yml
  .github/workflows/bundle-size.yml
  .github/workflows/on-pr-and-trunk_one-app-unit-and-lint-tests.yml
  .github/workflows/on-pr_dangerJS.yml
  .github/workflows/on-pr_one-app-integration-tests.yml
  .github/workflows/release-step-1_manual_create-release-pr.yml
  package.json
Labels: chore, one-app-team-review-requested

#1391 fix(watchLocalModules): fix missing baseUrl
  __tests__/server/utils/watchLocalModules.spec.js
  src/server/utils/watchLocalModules.js
Labels: fix, one-app-team-review-requested

#1380 fix(image): use latest npm@^9
  Dockerfile
Labels: fix, one-app-team-review-requested

#1389 test(perf): new CLI for running and comparing perf tests
  .eslintrc.js
  .gitignore
  __mocks__/colorette.js
  __performance__/README.md
  __performance__/bin/commands/clean.js
  __performance__/bin/commands/compare.js
  __performance__/bin/commands/explain.js
  __performance__/bin/commands/monitor.js
  __performance__/bin/commands/summarize.js
  __performance__/bin/commands/test.js
  __performance__/bin/index.js
  __performance__/bin/k6/metrics.js
  __performance__/bin/k6/parse.js
  __performance__/bin/k6/run.js
  __performance__/bin/k6/tests.js
  __performance__/bin/prometheus/fetchMetrics.js
  __performance__/bin/prometheus/metrics.js
  __performance__/bin/prometheus/updateTarget.js
  __performance__/bin/util/banner.js
  __performance__/bin/util/bgProcess.js
  __performance__/bin/util/coerceTestId.js
  __performance__/bin/util/createDeferred.js
  __performance__/bin/util/format.js
  __performance__/bin/util/generateTestId.js
  __performance__/bin/util/getResultDir.js
  __performance__/bin/util/internalProcessors.js
  __performance__/bin/util/metricsTable.js
  __performance__/bin/util/options.js
  __performance__/bin/util/pick.js
  __performance__/bin/util/processors.js
  __performance__/bin/util/readResults.js
  __performance__/docker-compose.prod-sample.yml
  __performance__/docker-compose.yml
  __performance__/grafana/dashboards/one-app-classic.json
  __performance__/grafana/dashboards/one-app-performance.json
  __performance__/prometheus/prometheus.yml
  __performance__/prometheus/targets.json
  __performance__/results/.gitkeep
  __performance__/scripts/load.js
  __performance__/scripts/smoke.js
  __performance__/scripts/soak.js
  __performance__/scripts/spike.js
  __performance__/scripts/stress.js
  __performance__/scripts/utils/createSummaryHandler.js
  __tests__/server/utils/cdnCache.spec.js
  __tests__/server/utils/logging/config/development.spec.js
  __tests__/server/utils/logging/utils.spec.js
  docs/guides/Monitoring-One-App.md
  package-lock.json
  package.json
  scripts/utils.js
  src/server/utils/cdnCache.js
  src/server/utils/logging/utils.js
Labels: Feature, one-app-team-review-requested
