Repository americanexpress/one-app, pull requests merged in 2024-01, with the labels that each got.

#1233 v5 - feat(otel): log notice to STDOUT when using OTel
  __tests__/server/__snapshots__/index.spec.js.snap
  __tests__/server/index.spec.js
  src/server/index.js
Labels: Feature, one-app-team-review-requested

#1215 feat(otel): log notice to STDOUT when using OTel
  __tests__/server/index.spec.js
  src/server/index.js
Labels: Feature, one-app-team-review-requested

#1234 refactor(otel): remove unnecessary log on startup in prod
  __tests__/server/utils/logging/config/otel.spec.js
  src/server/utils/logging/config/otel.js
Labels: Feature, one-app-team-review-requested

#1213 refactor(lumberjack): replace with util fn
  __tests__/server/utils/logging/__snapshots__/attachRequestSpies.spec.js.snap
  __tests__/server/utils/logging/__snapshots__/attachSpy.spec.js.snap
  __tests__/server/utils/logging/attachRequestSpies.spec.js
  __tests__/server/utils/logging/attachSpy.spec.js
  __tests__/server/utils/logging/setup.spec.js
  package-lock.json
  package.json
  src/server/utils/logging/attachRequestSpies.js
  src/server/utils/logging/attachSpy.js
  src/server/utils/logging/setup.js
Labels: Feature, one-app-team-review-requested

#1236 test(integration): use seleniarm
  __performance__/README.md
  __tests__/integration/helpers/testRunner.js
  __tests__/integration/one-app.spec.js
  package-lock.json
  package.json
  prod-sample/README.md
  prod-sample/api/Dockerfile
  prod-sample/docker-compose.yml
  prod-sample/generate-certs.sh
  scripts/build-one-app-docker-setup.js
Labels: test

#1237 chore(performance): pin images
  __performance__/docker-compose.yml
Labels: chore

#1249 fix(deps): revert proxy agent
  __tests__/server/utils/devCdnFactory.spec.js
  package-lock.json
  package.json
  src/server/utils/devCdnFactory.js
Labels: fix

#1254 fix(badges): fix readme badges
  README.md
Labels: fix

#1257 test(integration): use otel logging in prod sample
  __tests__/integration/__snapshots__/one-app.spec.js.snap
  __tests__/integration/one-app.spec.js
  prod-sample/docker-compose.yml
  prod-sample/one-app/base.env
  prod-sample/otel-collector/config.yaml
Labels: Feature, one-app-team-review-requested
